PG_DB=bot_app
PG_PASSWORD=dev
PG_USER=dev
HOST=localhost

PGADM_DEFAULT_EMAIL=pgadmin@foo.com"
PGADM_DEFAULT_PASSWORD=dev
PGADM_CONFIG_SERVER_MODE=False
PGADM_SUBDOMAIN=pgadmin
PROMETHEUS_SUBDOMAIN=prometheus
GRAFANA_SUBDOMAIN=grafana

GF_SECURITY_ADMIN_USER=dev
GF_SECURITY_ADMIN_PASSWORD=dev
GF_USERS_ALLOW_SIGN_UP=false

TRAEFIK_ADMIN_USER=admin:$2a$12$vMBqg4GqKs0MNSXtXIwEuOD9RxXhGBBNMw0nQxJROr9ZS7KjJVxaC

SPRING_BOOT_APPS_ACTIVE_PROFILE=prod
TLG_BOT_TOKEN=tlg_bot_token